name: Publish to PyPI

on:
  push:
    branches:
      - main
  workflow_dispatch:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment:
      name: pypi
      url: https://pypi.org/p/cmfo

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Quick Secret Check
        shell: bash
        env:
          HAS_TOKEN: ${{ secrets.CMFO_TOKEN != '' }}
        run: echo "Token available? $HAS_TOKEN"
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
          
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine
        
      - name: Build Package (Source Dist Only)
        working-directory: ./bindings/python
        run: python -m build --sdist
        
      - name: Check Package
        working-directory: ./bindings/python
        run: twine check dist/*
        
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.CMFO_TOKEN || secrets.PYPI_API_TOKEN || secrets.PYPI_TOKEN || secrets.PYP || secrets.SECRETO_PYP || secrets.SECRETO || secrets.PYPI_PASSWORD || vars.CMFO_TOKEN || vars.PYPI_API_TOKEN || vars.PYPI_TOKEN || vars.PYP }}
          packages-dir: bindings/python/dist/
